<div class="content" role="main">

  <!-- Highlight Card -->
  <!-- <div class="card highlight-card card-small">


    <span>{{ title }} app is running!</span>
    <h3>{{count}}</h3>
    <button (click)="increment()">点我+1</button>
  </div> -->
  <!-- <app-foo></app-foo>
  <app-login></app-login> -->
  <a routerLink="/foo" routerLinkActive="active">来到foo </a>
  <a routerLink="/login/5"  [queryParams]="{name: 'zhangsan'}" routerLinkActive="active">来到login</a>
</div>


<router-outlet></router-outlet>
